/*Author: Justin Dyer*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
* Mobile first styling
*/
:root{
  --semiBold: 600;
}
html{
  max-width: 100%;
}
body{
  display: grid;
  grid-template-areas: 
    "header"
    "intro"
    "plan"
    "testimonials"
    "about"
    "contact"
    "footer";

}

header{
  display: grid;
  grid-template-areas: 
    "logo nav"
    "heading heading"
    "tag tag";
  grid-template-columns: auto 1fr;  
  grid-template-rows: auto auto auto;
  background-image: linear-gradient(#55BCD5,#fff);

}
header a{
  grid-area: logo;
}
header img{

}
header nav{
  grid-area: nav;

}
header p{


}
header h1{
  grid-area: heading;
  margin-left: 3.5rem;
}
label[for='toggle']{
  
  background-color: #F6D64A

}
nav li{
  list-style-type: none;
}

p{
  line-height: 30px;
  font-size: 1rem;
  max-width: 35ch;
  margin-left: 3rem;
}
h1{
  font-size: 3.125rem;
  
  margin: 0;
}

h1+p{
  grid-area: tag;
  max-width: 28ch;
  margin: 0;
  margin-left: 3rem;
  margin-bottom: 3rem;
}
h1 + p, #testimonials p, q, #about h4, p{
  font-size: 1.25rem;
}
h2, h3{
  font-size: 2.5rem;
  margin-left: 3.5rem;
}
h4{
  font-size: 1.625rem;
}
h1, h2, h3{
  font-family: 'Molle', cursive;
}
h4, p, q, small, nav, button, form{
  font-family: 'Montserrat', sans-serif;
}

footer{
  grid-area: footer;
}
.sr-only{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.form-required{
  font-family: 'Montserrat',sans-serif;
  font-size: 1.25rem;
}
#intro{
  grid-area: intro;

}
#plan{
  grid-area: plan;
  background-color: #F6D64A;
  padding-bottom: 1rem;
}
#plan h3{
  padding-top: 1rem;
  padding-bottom: .875rem;
  margin-left: 3.5rem;
}
#plan>div{
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}
#plan>div section{

  background-color: #55BCD5;
  border: solid 3px white;
  font-weight: var(--semiBold);
  border-radius: 15px;
  width: 350px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: .125rem 0;
}
#plan h4{
  padding-top: 1rem;
}
#testimonials{
  grid-area: testimonials;
  padding-top: 3rem;

}
#testimonials>div{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
 
}
#testimonials>section>p{
  padding-bottom: 5rem;
}
#about{
  grid-area: about;
  background-color: #499BD2;
}
#testimonials h4{
  font-size: 1.875rem;
}
#img-grid{
  margin-top: 1rem;
}
#contact{
  grid-area: contact;
}

#menu-toggle a {
  display:flex;
  flex-wrap:wrap;
  text-decoration: none;
  color: #232323;
  border-bottom: 1px solid #222222;
  background-color: #55BCD5;
  padding: 40.5px 156.5px;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}



#menu-toggle label {
  margin-top: 3.875rem;
  font-weight: var(--semiBold);
  display: flex;
  cursor: pointer;
  
  width:15.625rem;
  height: 3.125rem;
  align-items: center;
  justify-content: center;
  background-color: #F6D64A;
  transition: top 0.3s ease-in-out;
  -webkit-transition: top 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out;
  
}

#menu-toggle ul{
  position: absolute;
  padding-inline-start: 0;
  width: 100%;
  font-weight: var(--semiBold);

  background: #ededed;
  list-style-type: none;
  /* Hide the menu off-screen to the left */
  left: -2000%;
  -webkit-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease; 

  
}
/**
  #menu-toggle li{
    padding: 40.5px 156.5px;
    border-bottom: 1px solid #222222;
    background-color: #55BCD5;
    text-transform: uppercase;
  }
*/
#menu-toggle input:checked ~ ul {
  left: 0;
  margin-top: 100px;
  
}
#menu-toggle input:checked ~ label {
  z-index: 2;
  width: 100vw;
  background-color: #222222;
  color: #fff;
  text-align: center;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  position: absolute;
  left: 0;
  top:0;
  height:
}
#toggle{
  display: none;
}

#skip{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/**
 * For screens 429px and up (medium/tablet)
 */
  @media screen and (min-width: 429px){
    
    html{
        background-color: blue;
    }
  }

 /**
 * For screens 1900px and up (large/desktop)
 */
  @media screen and (min-width: 1900px){
    
    html{
        background-color: rgb(229, 255, 0);
    }
  }